.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

html,body{
    height: 100%;
    background-color: #f2f2f2;
}

#holder{
    background-color: #f2f2f2;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /*position: relative;*/
}

#body{
    padding-bottom: 50px;    /* height of footer */
    background-color: #f2f2f2;
    /*width: 97%;*/
}

footer{
    width:100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
