#emoji{
	text-align: center;
}

#title{
	text-align: center;
}

#container{
	display: flex;
}

#votes{
	float: right;
}

.button-div{
	margin: 10px 10px 10px 10px;
}

.paper-div{
	margin: 10px 10px 10px 10px;
}