.top-container{
  position: relative;
  margin: auto;
  margin-bottom: 0;
  margin-top: 20px;
  padding: 5px;
  border-radius: 9px 9px 9px 9px !important;
}

.edit-delete-btn{
  position: absolute;
  top: 9px;
  right: 9px;
}

.edit-delete-btn > button {
  padding: 0px !important;
  max-width: 36px;
  max-height: 36px;
}
.edit-delete-btn > button > div > span {
  color: #dddddd !important;
}

.button-div{
  margin: -5px;
}
.button-div > button {
  width: 100%;
  color: #FFF !important;
  border-radius: 0px 0px 9px 9px !important;
  height: 48px !important;
}
.button-div > button:hover {
  width: 100%;
  color: #00bcd4 !important;
  background: #ffffff !important;
}
.button-div > button > div > span {
  font-weight: 100 !important;
  font-size: 18px !important;
  letter-spacing: 3px !important;
}

.item-description {
  color: #808080 !important;
}

.item-details-container {
  text-align: left;
  opacity: 50% !important;
  font-size: 12px;
  margin: 12px;
  padding: 0 9px;
  padding-left: 0;
}
.item-media-icon > div > span {
    color: #808080 !important;
    padding-top: 9px;
}
.item-voting {
  text-align: center;
}
.item-voting > div {
  padding: 0;
}
.item-voting > div > button > div > span {
  color: #808080 !important;
}

.details {
  margin: 2px 0;
}

.item-title-container {
  margin: 9px 0;
}
.item-title {
  z-index: 1;
  font-size: 18px;
  font-weight: 100;
}

.quote-top {
  transform: rotateY(180deg);
  position: absolute;
  left: 3%;
  font-size: 21px;
}

.quote-top > span {
  color: #f2f2f2 !important;
  font-size: 33px !important;
}

.quote-btm {
  position: absolute;
  right: 3%;
  font-size: 21px;
}

.quote-btm > span {
  color: #f2f2f2 !important;
  font-size: 33px !important;
}

.votes-container {
  margin: -12px 0;
}

.drop-image {
  width: 100%;
  border-radius: 6px;
}
/*#inner-container{
  display: flex;
}

#votes-container{
  float: right;
  align-items: stretch;
}

#replies-container{
  float:left;
  }*/
