/*.center-text{
	text-align: center;
}*/

.button-div{
	margin: 10px 10px 10px 10px;
}

#top-container{
	margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 5px 5px 5px 5px;
}

#details-container{
	text-align: left;
	opacity: 50%;
	font-size: 12px;
}

/*#inner-container{
	display: flex;
}

#votes-container{
	float: right;
	align-items: stretch;
}	

#replies-container{
	float:left;
}*/