.profile-container{
  min-height: 300px;
  color: #ffffff;
  background-color: #009eb3;
}
.profile-fb{
  margin-top: -18px;
}
.profile-fb > h2{
  margin: 1vh;
}
.profile-fb > a {
  color: white;
  text-decoration: none;
  border: 1px white;
  padding: 5px;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  font-size: 12px;
}

.profile-pic{
  margin: 21px 0;
}
.profile-pic > img {
  border: 5px solid #FFFFFF;
}

.profile-stat > p {
  margin: 0;
}
