.settings-container {
  color: #ffffff;
  background-color: #009eb3;
}

.settings-options {
  text-align: left;
  padding: 18px 12%;
  box-shadow: 0 -5px 5px -5px rgba(51, 51, 51, 0.5);
}

.settings-btn {
  margin: 21px 0;
}
