#splash-page {
    position: absolute;
    padding-top: 25%;
    height: 90%;
    width: 100%;
    background-color: #2f3031;
    color: #b2b2b2;
}

.kep-login-facebook.metro {
    border-radius: 21px;
}
